@import './base.css';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

#app > div {
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

#app > div > .full-size-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 1 / -1;
}

a,
.green {
  text-decoration: none;
  color: var(--btn-color);
}

section h1,
section h2 {
  border: 3px solid var(--content-section-header-color);
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  margin-bottom: 1rem;
  color: var(--content-section-header-color);
  font-weight: bolder;
  font-size: 1.5rem;
}

section h2 {
  margin-top: 1rem;
}

section p,
footer p {
  padding: 0 0.5rem;
}

footer {
  margin-top: 2rem;
  p {
    font-weight: bold;
  }
}

.fadeInUp-animation {
  min-width: 300px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app > div {
    grid-template-columns: 1fr 1fr;
    padding: 5rem 2rem 5rem 2rem;
    align-items: start;
  }

  .full-size-column > select {
    position: relative;
    top: -3rem;
  }

  section p,
  footer p {
    padding: 0 1rem;
  }
}
